#metodologia-page{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    .--aside{
        min-height: auto;
        @include tablet{
            max-width: 100%;
        }
        .--content{
            padding: 0px 200px 40px;
            @include notebook{
                padding: 0px 120px 40px;
            }
            @include tablet{
                padding: 0px 0px 40px;
            }
        }
        .--copy{
            top: 100px;
        }
        .--section {
            padding-bottom: 40px;
        }
    }
    #b_pilares{
        .--copy{
            top: 100px;
        }
        .--2_columns{
            @include tablet{
                grid-template-columns: 1fr;
            }
        }
        .--title{
            font-size: 70px;
            font-weight: normal;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            margin-top: 75px;
            @include notebook{
                font-size: 60px;
            }
            @include ipad-portrait{
                font-size: 50px;
            }
            @include tablet{
                font-size: 40px;
                margin-top: 40px;
            }
            @include mobile{
                font-size: 35px;
                margin-top: 0;
            }
        }
        .--subtitle{
            font-size: 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            position: relative;
            margin-bottom: 150px;
            &::before{
                content:"+";
                color: $green;
                position: absolute;
                left: -1em;
            }
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                font-size: 18px;
                margin-bottom: 70px;
            }
        }
        .--pilares_bloque_copy{
            .--pilares_bloque_copy_title{
                font-size: 38px;
                font-weight: 500;
                text-transform: uppercase;
                color: $grey-dark;
                line-height: 1.3em;
                margin-top: 0;
                margin-bottom: 20px;
                @include notebook{
                    font-size: 27px;
                }
                @include mobile{
                    font-size: 18px;
                }
            }
            .--pilares_boque_copy_text{
                font-weight: 300;
                font-size: 33px;
                margin-bottom: 50px;
                @include notebook{
                    font-size: 24px;
                }
                @include mobile{
                    font-size: 18px;
                }
            }
        }
        .--pilares_bloque_img{
            img{
                max-width: 100%;
            }
        }
    }
    #b_especialistas{
        .--2_columns{
                margin-top: 50px;
                @include tablet{
                    grid-template-columns: 1fr;
                    row-gap: 40px;
                }
                @include mobile{
                    margin-top: 0;
                }
        }
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
        }
        .--especialistas_bloque_copy_1{
            display: flex;
            align-items: center;
            @include mobile{
                margin-bottom: 50px;
            }
        }
        p{
            font-weight: 300;
            font-size: 33px;
            @include notebook{
                font-size: 24px;
            }
            @include mobile{
                font-size: 18px;
            }
        }
        .--pilares_bloque_copy_title{
            font-size: 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            margin-top: 0;
            margin-bottom: 20px;
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                font-size: 18px;
            }
        }
        .--pilares_boque_copy_text{
            margin-bottom: 40px;
        }
        img{
            max-width: 100%;
        }
    }
    #b_experiencias{
        .--content{
            padding: 0 250px;
            overflow-x: hidden;
            margin-bottom: 50px;
            padding-bottom: 40px;
            @include notebook{
                padding: 0 120px 40px;
            }
            @include ipad-portrait{
                padding: 0 120px 40px;
            }
            @include tablet{
                padding: 0;
                max-width: 100%;
                width: 100%;
                padding-bottom: 50px;
            }
            .--section_title{
                @include mobile{
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .--text_1{
                font-weight: 300;
                font-size: 30px;
                @include notebook{
                    font-size: 24px;
                }
                @include mobile{
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
            }
            }
        }
        .--section{
            &::before{
                bottom: -50px;
            }
        }
        .--2_columns{
            margin-top: 100px;
            margin-bottom: 100px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            @include notebook{
                max-width: 100%;
            }
            @include tablet{
                grid-template-columns: 1fr;
            }
            @include mobile{
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            margin-top: 0;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
            }
        }
        .swiper {
            width: 100%;
            height: auto;
            max-width: 1200px;
            @include mobile{

            }
          }
          .--testimonio_1{
              margin-top: 100px;
              @include mobile{
                  margin-top: 50px;
              }
              .swiper-slide {
                background: $white;
        
                /* Center slide text vertically */
                display: grid;
                grid-template-columns: auto 499px;
                column-gap: 34px;
                @include notebook{
                    grid-template-columns: auto 357px;
                }
                @include tablet{
                    grid-template-columns: auto 211px;
                    column-gap: 14px;
                }
                @include mobile{
                    grid-template-columns: 1fr;
                }
                .--content_testimonios_copy{
                    padding-right: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @include notebook{
                        padding-right: 0;
                    }
                    @include mobile{
                        max-width: 88%;
                        min-height: 260px;
                    }
                }
                .--content_testimonios_quote{
                  margin-top: 0;
                  font-size: 38px;
                  text-transform: uppercase;
                  font-weight: 300;
                  font-style: italic;
                  text-indent: -0.7rem;
                  padding-left: 0.7rem;
                  @include notebook{
                      font-size: 25px;
                      padding-right: 30px;
                  }
                  @include tablet{
                      max-width: 100%;
                      margin-left: auto;
                      font-size: 20px;
                  }
                  @include mobile{
                    font-size: 25px;
                    margin-left: 10%;
                  }
                  b{
                      font-weight: 500;
                  }
              }
              .--content_testimonios_foto{
                  @include mobile{  
                    max-width: 83%;
                  }
              }
              .--content_testimonios_author{
                  font-size: 24px;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 0;
                  padding-left: 0.7rem;
                  @include notebook{
                      font-size: 17px;
                  }
                  @include tablet{
                      max-width: 100%;
                  }
                  @include mobile{
                    margin-left: 10%;
                    margin-bottom: 50px;
                  }
              }
                img{
                    width: 100%;
                    height: auto;
                }
              }
              .swiper-button-next{
                display: none;
                right: 0;
                width: 66px;
                top: 22px;
                bottom: 0;
                background-color: $green;
                height: 100%;
                @include notebook{
                    width: 44px;
                }
                @include tablet{
                    top: 0;
                    width: 29px;
                }
                @include mobile{
                    top: 22px;
                    width: 45px;
                    bottom: 0px;
                    display: block;
                }
                  &::after{
                    width: 40px;
                    height: auto;
                    position: absolute;
                    right: 15px;
                    bottom: 2%;
                    transform: rotate(180deg);
                    content: '';
                    @include notebook{
                        width: 20px;
                        right: 10px;
                        bottom: -11px;
                    }
                    @include tablet{
                        width: 15px;
                        right: 9px;
                        bottom: -20px;
                    }
                    @include mobile{
                        content: url('/images/svg/arrow-testimonios.svg');
                    }
                  }
              }
          }
          .--testimonio_2{
            margin-top: 100px;
            @include mobile{
                display: none;
            }
              .swiper-slide {
                background: $white;
        
                /* Center slide text vertically */
                display: grid;
                grid-template-columns: 499px auto;
                column-gap: 34px;
                @include notebook{
                    grid-template-columns: 357px auto;
                }
                @include tablet{
                    grid-template-columns: 211px auto;
                    column-gap: 14px;
                }
                .--content_testimonios_copy{
                    padding-left: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @include notebook{
                        padding-left: 0;
                    }
                    @include mobile{
                        margin-left: 50px;
                    }
                }
                .--content_testimonios_quote{
                  margin-top: 0;
                  font-size: 38px;
                  text-transform: uppercase;
                  font-weight: 300;
                  font-style: italic;
                  @include notebook{
                      font-size: 25px;
                      padding-right: 30px;
                  }
                  @include tablet{
                    max-width: 100%;
                    margin-left: auto;
                    font-size: 20px;
                }
                  b{
                      font-weight: 500;
                  }
              }
              .--content_testimonios_author{
                  font-size: 24px;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 0;
                  @include notebook{
                      font-size: 17px;
                  }
                  @include tablet{
                      max-width: 100%;
                      
                  }
              }
                img{
                    width: 100%;
                    height: auto;
                }
              }
              .swiper-button-prev{
                display: none;
                left: 0;
                width: 66px;
                top: 22px;
                bottom: 0;
                background-color: $green;
                height: 100%;
                @include notebook{
                    width: 44px;
                }
                @include tablet{
                    width: 29px;
                }
                  &::after{
                    width: 40px;
                    height: auto;
                    position: absolute;
                    right: 15px;
                    bottom: 2%;
                    content: '';
                    @include notebook{
                        width: 20px;
                        right: 10px;
                        bottom: 10px;
                    }
                    @include tablet{
                        width: 15px;
                        right: 9px;
                        bottom: -20px;
                    }
                    @include mobile{
                        content: url('/images/svg/arrow-testimonios.svg');
                    }
                  }
              }
          }
    }
}