#trabaja-page{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    .--aside{
        min-height: auto;
        @include tablet{
            max-width: 100%;
        }
        .--content{
            padding: 0px 200px 40px;
            @include notebook{
                padding: 0px 120px 40px;
            }
            @include tablet{
                padding: 0px 0px 40px;
            }
        }
        .--copy{
            top: 100px;
            font-weight: 300;
        }
        .--section {
            padding-bottom: 40px;
        }
    }
    #b_objetivos{
        .--copy{
            top: 100px;
        }
        .--2_columns{
            margin-top: 100px;
            @include tablet{
                grid-template-columns: 1fr;
            }
            @include mobile{
                margin-top: 50px;
            }
        }
        .--title{
            font-size: 70px;
            font-weight: normal;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            margin-top: 75px;
            margin-bottom: 0;
            @include notebook{
                font-size: 60px;
            }
            @include ipad-portrait{
                font-size: 50px;
            }
            @include tablet{
                font-size: 40px;
                margin-top: 40px;
            }
            @include mobile{
                font-size: 30px;
                margin-top: 0;
            }
        }
        .--extra{
            font-weight: 300;
            font-size: 33px;
            margin-bottom: 50px;
            @include notebook{
                font-size: 24px;
            }
            @include mobile{
                font-size: 18px;
            }
        }
        .--subtitle{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
        }
        .--objetivos_bloque_copy{
            .--objetivos_bloque_copy_title{
                font-size: 38px;
                font-weight: 500;
                text-transform: uppercase;
                color: $grey-dark;
                line-height: 1.3em;
                margin-top: 0;
                margin-bottom: 20px;
                position: relative;
                &::before{
                    content:"+";
                    color: $green;
                    position: absolute;
                    left: -1em;
                }
                @include notebook{
                    font-size: 27px;
                }
                @include mobile{
                    font-size: 18px;
                }
            }
            .--objetivos_boque_copy_text{
                font-weight: 300;
                font-size: 30px;
                margin-bottom: 50px;
                @include notebook{
                    font-size: 24px;
                }
                @include mobile{
                    font-size: 18px;
                }
            }
        }
        .--objetivos_bloque_img{
            img{
                max-width: 100%;
                @include notebook{
                    max-width: 80%;
                }
                @include mobile{
                    max-width: 100%;
                }
            }
        }
    }
    #b_curriculum{
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                font-size: 30px;
            }
        }
        .--text{
            font-size: 30px;
            position: relative;
            max-width: 800px;
            &::before{
                content:"+";
                color: $green;
                position: absolute;
                left: -1em;
            }
            @include mobile{
                font-size: 20px;
            }
        }
        #upload_form{
            margin-bottom: 20px;
            input{
                font-size: 39px;
                color: $grey-dark;
                border: none;
                border-bottom: 1px solid $grey-light;
                padding: 15px 10px;
                font-weight: 500;
                @include notebook{
                    font-size: 27px;
                }
                @include mobile{
                    font-size: 24px;
                }
                &::placeholder{
                    font-size: 39px;
                    color: $grey-light;
                    font-weight: 500;
                    @include notebook{
                        font-size: 27px;
                    }
                    @include mobile{
                        font-size: 24px;
                    }
                }
                &[type="text"],&[type="email"]{
                    display: block;
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 20px;
                    @include mobile{
                        width: auto;
                    }
                }
                &[type="file"]{
                    display: none;
                }
            }
            label{
                font-size: 33px;
                font-weight: 300;
                display: block;
                color: $grey-dark;
                margin-bottom: 30px;
                @include notebook{
                    font-size: 24px;
                }
                @include mobile{
                    font-size: 20px;
                }
                span{
                    font-weight: bold;
                    font-size: 20px;
                    @include notebook{
                        font-size: 15px;
                    }
                }
            }
        }
        .--label_file{
            cursor: pointer;
            max-width: max-content;
            &:hover{
                .--label_file-text{
                    transition: .5s all;
                    opacity: .7;
                }
                .--label_file-cta{
                    transition: .5s all;
                    opacity: .7;
                }
            }
            &-text{
                position: relative;
                font-size: 30px;
                font-weight: 300;
                margin-bottom: 15px;
                padding-left: 30px;
                margin-top: 50px;
                transition: .5s all;
                display: inline-block;
                @include mobile{
                    font-size: 20px;
                }
                &::before{
                    content: url('/images/svg/upload.svg');
                    width: 20px;
                    height: auto;
                    position: absolute;
                    left: 0px;
                }
            }
            &-cta{
                transition: .5s all;
                font-weight: bold;
                font-size: 25px;
                background-color: $grey-light;
                max-width: max-content;
                margin-bottom: 0;
                padding: 10px 20px;
                @include mobile{
                    font-size: 20px;
                }
            }
            &-small{
                font-size: 12px;
                font-weight: 300;
                margin-top: 10px;
            }
            &-name{
                font-size: 14px;
                font-weight: 300;
                &--error{
                    color: red;
                }
                &--success{
                    color: green;
                }
            }
        }
        p{
            font-size: 25px;
            font-weight: 300;
            @include notebook{
                font-size: 20px;
            }
        }
        .--aviso_input, .--aviso_notificaciones{
            p{
                font-size: 15px;
                font-weight: 300;
                @include notebook{
                    font-size: 15px;
                }
            }
        }
        .--cta_submit{
            background-color: $green;
            display: block;
            font-weight: 500;
            font-size: 38px;
            text-align: center;
            max-width: max-content;
            padding: 20px 30px;
            text-transform: uppercase;
            color: $grey-dark;
            margin-top: 80px;
            cursor: pointer;
            border: none;
            transition: 500ms opacity ease-in-out;
            &:hover{
                opacity: .7;
                transition: 500ms opacity ease-in-out;
            }
            @include notebook{
                font-size: 22px;
            }
            @include mobile{
                font-size: 16px;
                max-width: 100%;
                margin-top: 50px;
            }
        }
    
    }
    #b_map{
        background-color: $grey-dark;
        padding-bottom: 140px;
        overflow: hidden;
        @include tablet{
            margin-bottom: 0;
        }
        @include mobile{
            padding-bottom: 40px;
        }
        .--section {
            padding-bottom: 40px;
            @include notebook{
                padding-bottom: 40px;
            }
        }
        .--content {
            padding: 0px 200px 40px;
            @include notebook{
                padding: 0px 140px 40px;
                padding-bottom: 40px;
            }
            @include tablet{
                padding: 0px 90px 40px;
            }
            @include mobile{
                padding: 0px 40px 40px;
            }
        }
        .--2_columns{
            column-gap: 85px;
            margin-top: 70px;
            @include notebook{
                grid-template-columns: 50% auto;
                column-gap: 0px;
            }
            @include ipad-portrait{
                margin-top: 0;
            }
            @include mobile{
                grid-template-columns: 1fr;
            }
        }
        .--section_title{
            color: $white;
        }
        .--title{
            color: $green;
            font-weight: bold;
            font-size: 70px;
            margin-bottom: 30px;
            line-height: 1.3em;
            @include notebook{
                font-size: 50px;
            }
            @include mobile{
                font-size: 35px;
            }
        }
        p{
            color: $white;
            font-size: 33px;
            @include notebook{
                font-size: 21px;
            }
            @include mobile{
                font-size: 20px;
            }
        }
        .--extra{
            max-width: 1000px;
        }
        .--subtitle{
            font-size: 55px;
            font-weight: normal;
            margin-bottom: 30px;
            color: $white;
            @include notebook{
                font-size: 35px;
            }
            @include mobile{
                font-size: 30px;
            }
        }
        .--map_area{
            position: relative;
            margin-top: 170px;
            @include notebook{
                margin-top: 100px;
            }
            @include mobile{
                margin-top: 20px;
            }
            svg{
                position: relative;
                width: 100%;
                .cls-1{
                    fill:#C15340;
                    transform-origin: center;
                }
                .cls-2{
                    fill:#82e5fa;
                    transform-origin: center;
                }
                .cls-3{
                    fill:none;
                    stroke:$white
                    ;stroke-miterlimit:10;
                    stroke-width:1.13px;
                }
            }
            .--leyenda{
                position: relative;
                top: -30px;
                @include ipad-portrait{
                    top: 30px;
                }
                .--buble_copy{
                    font-size: 20px;
                    font-weight: 300;
                    color: $white;
                    position: relative;
                    margin-bottom: 10px;
                    max-width: max-content;
                    margin-right: 25px;
                    margin-left: auto;
                    @include notebook{
                        font-size: 17px;
                    }
                    &-red{
                        &::after{
                            content: "";
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            background-color: #C15340;
                            border-radius: 100px;
                            right: -21px;
                            top: 9px;
                            @include notebook{
                                top: 7px;
                            }
                        }
                    }
                    &-blue{
                        &::after{
                            content: "";
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            background-color: #82e5fa;
                            border-radius: 100px;
                            right: -21px;
                            top: 9px;
                            @include notebook{
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
    #b_tecnologia{
        .--cifras_tabla{
            max-width: 1000px;
            width: 100%;
            margin-top: 100px;
            @include notebook{
                max-width: 750px;
            }
            .--cifras_tabla_item{
                margin-bottom: 100px;
                padding-bottom: 20px;
                border-bottom: 1px solid $grey-light;
                display: grid;
                column-gap: 30px;
                grid-template-columns: 30% auto;
                align-items: end;
                @include mobile{
                    grid-template-columns: 1fr;
                }
                p{
                    margin-bottom: 0;
                }
                .--cifras_tabla_item_datos{
                    p{
                        font-size: 90px;
                        font-weight: bold;
                        color: $grey-dark;
                        @include notebook{
                            font-size: 61px;
                        }
                        @include tablet{
                            font-size: 40px;
                        }
                        @include mobile{
                            margin-bottom: 20px;
                            font-size: 60px;
                        }
                        span{
                            color: $green;
                        }
                    }
                }
                .--cifras_tabla_item_copy{
                    p{
                        font-size: 33px;
                        font-weight: 300;
                        color: $grey-dark;
                        @include notebook{
                            font-size: 24px;
                        }
                        @include tablet{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    #b_master{
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-top: 100px;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                margin-top: 20px;
                font-size: 22px;
                margin-bottom: 50px;
            }
        }
        .--2_columns{
            margin-top: 100px;
            @include mobile{
                grid-template-columns: 1fr;
                margin-top: 0;
            }
            img{
                max-width: 100%;
            }
            .--text_1{
                font-size: 30px;
                font-weight: 300;
                @include notebook{
                    font-size: 24px;
                }
                @include mobile{
                    font-size: 18px;
                }
            }
            .--title{
                font-size: 55px;
                font-weight: normal;
                color: $blue;
                line-height: 1.3em;
                text-transform: uppercase;
                margin-top: -20px;
                @include notebook{
                    font-size: 45px;
                }
                @include ipad-portrait{
                    font-size: 35px;
                }
                @include mobile{
                    margin-top: 20px;
                    font-size: 30px;
                    margin-bottom: 50px;
                }
            }
            .--subtitle{
                margin-top: 50px;
                font-size: 34px;
                font-weight: 500;
                line-height: 1.3em;
                position: relative;
                margin-bottom: 20px;
                &::before{
                    content:"-";
                    position: absolute;
                    left: -0.5em;
                    top: -3px;
                    @include mobile{
                        position: initial;
                        margin-right: 10px;
                    }
                }
                @include ipad-portrait{
                    font-size: 30px;
                }
                @include mobile{
                    font-size: 15px;
                    margin-top: 50px;
                }
            }
        }  
        .--cifras{
            @include mobile{
                margin-top: 50px;
            }
            .--cifra_copy{
                .--cifra-title{
                    font-size: 47px;
                    font-weight: bold;
                    color: $blue;
                    position: relative;
                    margin-bottom: 20px;
                    @include notebook{
                        font-size: 45px;
                    }
                    span{
                        font-size: 36px;
                        @include notebook{
                            font-size: 30px;
                        }
                    }
                }
                .--cifra-text{
                    font-size: 34px;
                    font-weight: 300;
                    @include notebook{
                        font-size: 20px;
                    }
                }
            }
            
        }
    }

    #b_claves{
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-top: 100px;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                margin-top: 20px;
                font-size: 30px;
                margin-bottom: 50px;
            }
        }
        .--2_columns{
            margin-top: 100px;
            @include mobile{
                grid-template-columns: 1fr;
                margin-top: 0;
            }
            .--claves_title{
                margin-top: 50px;
                font-size: 34px;
                font-weight: 500;
                line-height: 1.3em;
                position: relative;
                margin-bottom: 20px;
                color: $grey-dark;
                span{
                    color: $green;
                }
                @include notebook{
                    font-size: 27px;
                }
                @include ipad-portrait{
                    font-size: 30px;
                }
                @include mobile{
                    font-size: 15px;
                    margin-top: 20px;
                    margin-bottom: 3px;
                }
            }
            .--claves_text{
                font-size: 30px;
                font-weight: 500;
                @include notebook{
                    font-size: 24px;
                }
                @include mobile{
                    font-size: 18px;
                }
            }
        }
    }

}