#master_contador-page{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    .--aside{
        min-height: auto;
        @include tablet{
            max-width: 100%;
            width: 100%;
        }
        .--content{
            padding: 0px 200px 40px;
            @include notebook{
                padding: 0px 120px 40px;
            }
            @include tablet{
                padding: 0px 0px 40px;
            }
        }
        
        .--section {
            padding-bottom: 40px;
        }
    }
    #b_header{
        .--copy{
            top: 60px;
        }
        margin-top: 150px;
        @include notebook{
            margin-top: 100px;
        }
        @include mobile{
            margin-top: 50px;
        }
        .--title{
            font-size: 36px;
            text-align: center;
            color: $blue;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: bold;
            line-height: 1em;
            @include notebook{
                font-size: 26px;
                margin-top: 50px;
            }
            @include mobile{
                font-size: 20px;
            }
        }
        .--subtitle{
            font-size: 36px;
            text-align: center;
            color: $grey-dark;
            margin-top: 0;
            font-weight: 300;
            @include notebook{
                font-size: 26px
            }
            @include mobile{
                font-size: 20px;
            }
        }
        .--extra{
            font-size: 49px;
            font-weight: bold;
            color: $green;
            text-align: center;
            @include notebook{
                font-size: 39px
            }
            @include mobile{
                font-size: 25px;
            }
        }
        .--contador{
            background-color: $grey-light;
            display: grid;
            grid-template-columns: repeat(4, auto);
            max-width: max-content;
            margin-left: auto;
            margin-right: auto;
            .--contador-item{
                display: inline-block;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100px;
                height: 100px;
                margin: 20px;
                position: relative;
                @include mobile{
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                }
                p{
                    margin-bottom: 0;
                    color: $grey-dark;
                    font-size: 13px;
                    font-weight: 300;
                    text-transform: uppercase;
                    @include mobile{
                        font-size: 7px;
                    }
                }
                .--contador-number{
                    font-size: 54px;
                    font-weight: bold;
                    color: $grey-dark;
                    line-height: 1em;
                    margin-bottom: 6px;
                    @include notebook{
                        font-size: 44px;
                    }
                    @include mobile{
                        font-size: 25px;
                    }
                }
                &::before{
                    content: ":";
                    position: absolute;
                    font-size: 54px;
                    font-weight: bold;
                    line-height: 1em;
                    left: 110%;
                    top: 16%;
                    @include notebook{
                        font-size: 44px;
                    }
                    @include mobile{
                        font-size: 25px;
                    }
                }
                &[data="days"]{
                    margin-right: 40px;
                    @include mobile{
                        margin-right: 20px;
                    }
                    p{
                        color: $blue;
                    }
                    .--contador-number{
                        color: $blue;
                    }
                    &::before{
                        content: url('/images/svg/contador-arrow.svg');
                        left: 120%;
                        top: 16%;
                        width: 20px;
                        @include mobile{
                            width: 10px;
                        }
                    }
                }
                &[data="seconds"]{
                    &::before{
                        content: "";
                    }
                }
            }
        }
        .--cta{
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            margin-bottom: 50px;
            @include mobile{
                font-size: 20px;
            }
        }
    }
    #b_punto{
        .--2_columns{
            margin-top: 50px;
            @include tablet{
                grid-template-columns: 1fr;
                row-gap: 40px;
            }
            @include mobile{
                row-gap: 0px;
                margin-top: 0;
            }
        }
        .--title{
            margin-top: 80px;
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                margin-top: 30px;
            }
        }
        .--subtitle{
            font-size: 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            margin-top: 0;
            margin-bottom: 100px;
            position: relative;
            &::before{
                content:"+";
                color: $green;
                position: absolute;
                left: -1em;
            }
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                font-size: 18px;
                margin-bottom: 50px;
            }
        }
        .--punto_bloque_copy{
            @include mobile{
                margin-bottom: 0px;
            }
        }
        p{
            font-weight: 300;
            font-size: 33px;
            @include notebook{
                font-size: 24px;
            }
            @include mobile{
                font-size: 18px;
            }
        }
        .--punto_bloque_copy{
            @include mobile{
                padding-left: 1.3em;
            }
        }
        .--punto_bloque_copy_title{
            font-size: 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: $blue;
            line-height: 1.3em;
            margin-top: 0;
            margin-bottom: 40px;
            position: relative;
            min-height: 99px;
            &::before{
                content:"-";
                position: absolute;
                left: -1em;
            }
            @include notebook{
                font-size: 27px;
                min-height: 70px;
                margin-bottom: 20px;
            }
            @include mobile{
                min-height: auto;
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
        .--punto_bloque_copy_text{
            margin-bottom: 40px;
            font-size: 25px;
        }
    }
    #b_ruta{
        .--title{
            margin-top: 80px;
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                margin-top: 30px;
            }
        }
        .--subtitle{
            font-size: 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            margin-top: 0;
            margin-bottom: 100px;
            position: relative;
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                font-size: 18px;
                margin-bottom: 50px;
            }
        }
        .--extra{
            font-weight: bold;
            font-size: 33px;
            position: relative;
            margin-bottom: 5px;
            @include notebook{
                font-size: 23px;
            }
            @include mobile{
                padding-left: 1em;
            }
            &::before{
                content:"+";
                color: $green;
                position: absolute;
                left: -1em;
                font-weight: 300;
                @include mobile{
                    left: 0;
                }
            }
        }
        .--ruta-copy{
            font-size: 33px;
            font-weight: 300;
            margin-bottom: 50px;
            @include notebook{
                font-size: 23px;
            }
            @include mobile{
                padding-left: 1em;
            }
        }
    }
    #b_acceso{
        .--2_columns{
            @include tablet{
                grid-template-columns: 1fr;
                row-gap: 40px;
            }
            @include mobile{
                row-gap: 0px;
                margin-top: 0;
            }
        }
        .--title{
            margin-top: 80px;
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                margin-top: 30px;
            }
        }
        .--subtitle{
            font-size: 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-dark;
            line-height: 1.3em;
            margin-top: 0;
            margin-bottom: 100px;
            position: relative;
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                font-size: 18px;
                margin-bottom: 50px;
            }
        }
        .--extra{
            font-weight: bold;
            font-size: 33px;
            position: relative;
            margin-bottom: 5px;
            @include notebook{
                font-size: 23px;
            }
            @include mobile{
                padding-left: 1em;
            }
            &::before{
                content:"+";
                color: $green;
                position: absolute;
                left: -1em;
                font-weight: 300;
                @include mobile{
                    left: 0;
                }
            }
        }
        .--acceso-copy{
            font-size: 33px;
            font-weight: 300;
            margin-bottom: 50px;
            @include notebook{
                font-size: 23px;
            }
            @include mobile{
                max-width: 90%;
                padding-left: 1em;
            }
        }
    }
    #b_bonus{
        .--2_columns{
            margin-top: 90px;
            @include tablet{
                grid-template-columns: 1fr;
                margin-top: 0;
                grid-template-rows: repeat(2, auto);
            }
            img{
                margin-top: 15px;
                max-width: 100%;
            }
            .--bonus_bloque{
                &:nth-child(1){
                    @include tablet{
                        grid-area: 2;
                    }
                }
            }
        }
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            max-width: 70%;
            margin-top: 0;
            @include notebook{
                font-size: 45px;
            }
            @include ipad-portrait{
                font-size: 35px;
            }
            @include mobile{
                max-width: 100%;
            }
        }
        .--subtitle{
            font-size: 30px;
            font-weight: bold;
            max-width: 70%;
            @include notebook{
                font-size: 20px;
            }
            @include mobile{
                max-width: 100%;
            }
            span{
                font-size: 40px;
                @include notebook{
                    font-size: 30px;
                }
            }
        }
        p{
            font-size: 30px;
            max-width: 70%;
            @include notebook{
                font-size: 20px;
            }
        }
    }
    #b_experiencias{
        .--content{
            padding: 0 250px;
            overflow-x: hidden;
            margin-bottom: 10%;
            @include notebook{
                padding: 0 200px;
            }
            @include ipad-portrait{
                padding: 0 100px;
            }
            @include mobile{
                padding: 0;
                max-width: 100%;
                width: 100%;
                padding-bottom: 50px;
            }
            .--section_title{
                padding-top: 10%;
                @include tablet{
                    max-width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                }
            }
        }
        .swiper {
            width: 100%;
            height: auto;
            max-width: 1200px;
            @include mobile{

            }
          }
          .--testimonio_1{
              margin-top: 100px;
              @include tablet{
                 display: none;
              }
              .swiper-slide {
                background: $white;
        
                /* Center slide text vertically */
                display: grid;
                grid-template-columns: auto 499px 66px;
                column-gap: 34px;
                @include notebook{
                    grid-template-columns: auto 357px 44px;
                }
                @include tablet{
                    grid-template-columns: auto 211px 29px;
                    column-gap: 14px;
                }
                @include mobile{
                    grid-template-columns: 1fr;
                }
                .--content_testimonios_copy{
                    padding-right: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @include notebook{
                        padding-right: 0;
                    }
                    @include mobile{
                        max-width: 88%;
                        min-height: 260px;
                    }
                }
                .--content_testimonios_quote{
                  margin-top: 0;
                  font-size: 30px;
                  text-transform: uppercase;
                  font-weight: 300;
                  font-style: italic;
                  text-indent: -0.7rem;
                  padding-left: 0.7rem;
                  @include notebook{
                      font-size: 25px;
                      padding-right: 30px;
                  }
                  @include tablet{
                      max-width: 100%;
                      margin-left: auto;
                      font-size: 20px;
                  }
                  @include mobile{
                    font-size: 25px;
                    margin-left: 10%;
                  }
                  b{
                      font-weight: 500;
                  }
              }
              .--content_testimonios_foto{
                  @include mobile{  
                    max-width: 83%;
                  }
              }
              .--content_testimonios_author{
                  font-size: 24px;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 0;
                  padding-left: 0.7rem;
                  @include notebook{
                      font-size: 17px;
                  }
                  @include tablet{
                      max-width: 100%;
                  }
                  @include mobile{
                    margin-left: 10%;
                    margin-bottom: 50px;
                  }
              }
                img{
                    width: 100%;
                    height: auto;
                }
              }
              .swiper-button-next{
                display: block;
                right: 0;
                width: 66px;
                top: 22px;
                bottom: 0;
                background-color: $green;
                height: 100%;
                @include notebook{
                    width: 44px;
                }
                @include tablet{
                    top: 0;
                    width: 29px;
                }
                @include mobile{
                    top: 22px;
                    width: 45px;
                    bottom: 0px;
                }
                  &::after{
                    width: 20px;
                    height: auto;
                    position: absolute;
                    right: 21px;
                    bottom: 3%;
                    content: url('/images/svg/arrow-testimonios.svg');
                    @include notebook{
                        width: 20px;
                        right: 10px;
                    }
                    @include tablet{
                        width: 15px;
                        right: 9px;
                    }
                  }
              }
          }
          .--testimonio_mobile{
              margin-top: 100px;
              @include mobile{
                  margin-top: 50px;
              }
              .swiper-slide {
                background: $white;
        
                /* Center slide text vertically */
                display: grid;
                grid-template-columns: auto 499px 66px;
                column-gap: 34px;
                @include notebook{
                    grid-template-columns: auto 357px 44px;
                }
                @include tablet{
                    grid-template-columns: auto 211px 29px;
                    column-gap: 14px;
                }
                @include mobile{
                    grid-template-columns: 1fr;
                }
                .--content_testimonios_copy{
                    padding-right: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @include notebook{
                        padding-right: 0;
                    }
                    @include mobile{
                        max-width: 88%;
                        min-height: 260px;
                    }
                }
                .--content_testimonios_quote{
                  margin-top: 0;
                  font-size: 30px;
                  text-transform: uppercase;
                  font-weight: 300;
                  font-style: italic;
                  text-indent: -0.7rem;
                  padding-left: 0.7rem;
                  @include notebook{
                      font-size: 25px;
                      padding-right: 30px;
                  }
                  @include tablet{
                      max-width: 100%;
                      margin-left: auto;
                      font-size: 20px;
                  }
                  @include mobile{
                    font-size: 25px;
                    margin-left: 10%;
                  }
                  b{
                      font-weight: 500;
                  }
              }
              .--content_testimonios_foto{
                  @include mobile{  
                    max-width: 83%;
                  }
              }
              .--content_testimonios_author{
                  font-size: 24px;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 0;
                  padding-left: 0.7rem;
                  @include notebook{
                      font-size: 17px;
                  }
                  @include tablet{
                      max-width: 100%;
                  }
                  @include mobile{
                    margin-left: 10%;
                    margin-bottom: 50px;
                  }
              }
                img{
                    width: 100%;
                    height: auto;
                }
              }
              .swiper-button-next{
                display: block;
                right: 0;
                width: 66px;
                top: 22px;
                bottom: 0;
                background-color: $green;
                height: 100%;
                @include notebook{
                    width: 44px;
                }
                @include tablet{
                    top: 0;
                    width: 29px;
                }
                @include mobile{
                    top: 22px;
                    width: 45px;
                    bottom: 0px;
                }
                &::after{
                    width: 20px;
                    height: auto;
                    position: absolute;
                    right: 21px;
                    bottom: 3%;
                    content: url('/images/svg/arrow-testimonios.svg');
                    @include notebook{
                        width: 20px;
                        right: 10px;
                    }
                    @include tablet{
                        width: 20px;
                        right: 9px;
                    }
                  }
              }
          }
          .--testimonio_2{
            margin-top: 100px;
            @include tablet{
                display: none;
            }
              .swiper-slide {
                background: $white;
        
                /* Center slide text vertically */
                display: grid;
                grid-template-columns: 66px 499px auto;
                column-gap: 34px;
                @include notebook{
                    grid-template-columns: 44px 357px auto;
                }
                @include tablet{
                    grid-template-columns: 29px 211px auto;
                    column-gap: 14px;
                }
                .--content_testimonios_copy{
                    padding-left: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @include notebook{
                        padding-left: 0;
                    }
                    @include mobile{
                        margin-left: 50px;
                    }
                }
                .--content_testimonios_quote{
                  margin-top: 0;
                  font-size: 30px;
                  text-transform: uppercase;
                  font-weight: 300;
                  font-style: italic;
                  @include notebook{
                      font-size: 25px;
                      padding-right: 30px;
                  }
                  @include tablet{
                    max-width: 100%;
                    margin-left: auto;
                    font-size: 20px;
                }
                  b{
                      font-weight: 500;
                  }
              }
              .--content_testimonios_author{
                  font-size: 24px;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 0;
                  @include notebook{
                      font-size: 17px;
                  }
                  @include tablet{
                      max-width: 100%;
                      
                  }
              }
                img{
                    width: 100%;
                    height: auto;
                }
              }
              .swiper-button-prev{
                display: block;
                left: 0;
                width: 66px;
                top: 22px;
                bottom: 0;
                background-color: $green;
                height: 100%;
                @include notebook{
                    width: 44px;
                }
                @include tablet{
                    width: 29px;
                }
                  &::after{
                    width: 20px;
                    height: auto;
                    position: absolute;
                    right: 21px;
                    bottom: 3%;
                    transform: rotate(180deg);
                    content: url('/images/svg/arrow-testimonios.svg');
                    @include notebook{
                        width: 20px;
                        right: 13px;
                        bottom: 0px;
                    }
                    @include tablet{
                        width: 15px;
                        right: 9px;
                        bottom: -20px;
                    }
                  }
              }
          }
    }
    #b_programa{
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-top: 80px;
            max-width: 650px;
            @include notebook{
                font-size: 45px;
            }
            @include mobile{
                font-size: 33px;
                margin-top: 30px;
            }
        }
        .--subtitle{
            font-size: 37px;
            font-weight: 500;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 24px;
            }
            @include mobile{
                font-size: 20px;
            }
        }
        .--3_columns{
            margin-top: 100px;
            @include mobile{
                grid-template-columns: 1fr;
                margin-top: 50px;
            }
            p{
              font-size: 30px;
              font-weight: 300;  
              @include notebook{
                font-size: 20px;
            }
            }
        }
        .--programa_title{
            font-size: 37px;
            font-weight: bold;
            color: $blue;
            position: relative;
            margin: 0 0 20px;
            @include notebook{
                font-size: 24px;
            }
            @include mobile{
                font-size: 20px;
            }
            &::before{
                content: "-";
                position: absolute;
                left: -20px;
            }
        }
        .--cta{
            margin-top: 0;
            margin-bottom: 100px;
            @include mobile{
                margin-bottom: 0px;
                max-width: max-content;
            }
        }
        .--cta_sub{
            margin-left: 50px;
            position: relative;
            margin-bottom: 10px;
            margin-top: 50px;
            &::before{
                content: url('/images/svg/descarga.svg');
                width: 30px;
                height: auto;
                position: absolute;
                left: -40px;
            }
        }
    }
    #b_practicas{
        .--content{
            padding-right: 0;
            @include mobile{
                max-width: 100%;
            }
        }
        .--section_title{
            @include mobile{
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-top: 70px;
            margin-bottom: 20px;
            @include notebook{
                font-size: 45px;
            }
            @include mobile{
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                font-size: 33px;
                margin-top: 30px;
            }
        }
        .--subtitle{
            font-size: 37px;
            font-weight: 500;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
            }
        }
        .--title_2{
            font-size: 58px;
            font-weight: bold;
            margin: 100px 0 0;
            color: $grey-dark;
            @include notebook{
                font-size: 48px;
            }
            @include mobile{
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                font-size: 40px;
                margin-top: 50px;
            }
        }
        .--subtitle_2{
            font-size: 37px;
            font-weight: 500;
            line-height: 1.3em;
            text-transform: uppercase;
            @include notebook{
                font-size: 27px;
            }
            @include mobile{
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
            }
        }
        .--transition_niveles{
            margin-top: 50px;
            position: relative;
            margin-bottom: 50px;
            cursor: pointer;
            .--content_transition{
                background-color: $grey-light;
                min-height: 360px;
                max-width: 50%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding: 0 70px;
                @include notebook{
                    min-height: 240px;
                    overflow: hidden;
                }
                @include tablet{
                    padding: 40px 113px 40px 46px;
                    max-width: 74%;
                    min-height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .--b_title_transition{
                    h3{
                        color: $blue-dark;
                        font-weight: bold;
                        font-size: 39px;
                        text-transform: uppercase;
                        display: none;
                        margin-bottom: 0;
                        margin-top: 0;
                        line-height: 1.3em;
                        @include notebook{
                            font-size: 27px;
                        }
                        @include notebook{
                            font-size: 27px;
                        }
                        @include ipad-portrait{
                            font-size: 25px;
                        }
                        &.--active{
                            display: block;
                        }
                    }
                }
                .--b_copy_transition{
                    p{
                        color: $blue-dark;
                        font-weight: 300;
                        font-size: 30px;
                        display: none;
                        margin-bottom: 0;
                        margin-top: 0;
                        line-height: 1.3em;
                        max-width: 80%;
                        @include notebook{
                            font-size: 27px;
                        }
                        @include ipad-portrait{
                            font-size: 25px;
                        }
                        @include mobile{
                            max-width: 100%;
                        }
                        &.--active{
                            display: block;
                        }
                    }
                }
            }
            .--b_foto_transition{
                position: absolute;
                right: 30%;
                top: 0;
                bottom: 0;
                @include notebook{
                    width: 10.5%;
                }
                @include notebook-medium{
                    width: 10.9%;
                }
                @include ipad-portrait{
                    width: 14%;
                }
                @include tablet{
                    display: none;
                }
                img{
                    max-width: 100%;
                    display: none;
                    &.--active{
                        display: block;
                    }
                }
            }
            .--mascara_transition{
                position: absolute;
                background-color: $grey-dark;
                width: 30%;
                right: 0;
                top: 0;
                bottom: 0;
                transition: 500ms all ease-in-out;
                &.--transition{
                    width: 100%;
                    transition: 500ms all ease-in-out;
                }
                @include tablet{
                    width: 12%;
                }
                &::after{
                    content: url('/images/svg/arrow-next-big.svg');
                    max-width: 200px;
                    width: 100%;
                    position: absolute;
                    right: 200px;
                    top: 40%;
                    @include notebook{
                        max-width: 180px;
                        right: 100px;
                    }
                    @include ipad-portrait{
                        max-width: 150px;
                        right: 60px;
                        top: 45%;
                    }
                    @include tablet{
                        width: 20px;
                        right: 11px;
                        top: auto;
                        bottom: 3%;
                        content: url('/images/svg/arrow-next.svg');
                    }
                    @include mobile{
                        right: 10px;
                    }
                }
            }
            .--progress_transition{
                position: absolute;
                bottom: -10px;
                height: 10px;
                left: 0;
                background-color: $green;
                transition: 500ms width ease-in-out;
                cursor: pointer;
                @include notebook{
                    height: 5px;
                    bottom: -5px;
                }
                &[data="1"]{
                    width: 33.33%;
                }
                &[data="2"]{
                    width: 66.66%;
                }
                &[data="3"]{
                    width: 100%;
                }
            }
        }
    }
    #b_faqs{
        .--title{
            font-size: 55px;
            font-weight: normal;
            color: $blue;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-top: 70px;
            margin-bottom: 50px;
            @include notebook{
                font-size: 45px;
            }
            @include mobile{
                font-size: 33px;
                margin-top: 30px;
            }
        }
        .--faqs-item{
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $grey-light;
            max-width: 1000px;
            width: 100%;
            @include notebook{
                max-width: 700px;
            }
            .--faqs-item-title{
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 30px;
                @include notebook{
                    font-size: 20px;
                }
                @include mobile{
                    font-size: 18px;
                }
                span{
                    font-size: 35px;
                    font-weight: bold;
                    @include notebook{
                        font-size: 25px;
                    }
                    @include mobile{
                        font-size: 18px;
                    }
                }
            }
            .--faqs-item-content{
                p{
                    font-size: 25px;
                    @include notebook{
                        font-size: 20px;
                    }
                    @include mobile{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    #b_formulario_footer{
        .--title{
            margin-top: 80px;
            @include mobile{
                font-size: 30px;
            }
        }
        .--formulario_form{
            .--form_title{
                margin-bottom: 50px;
                span{
                    color: $green;
                }
            }
        }
    }
}